@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


body {
  background-image: url("./imgs/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
}

#me {
  position: absolute;
  z-index: -1;
  width: 475px;
  height: 475px;
  display: block;
  margin: 12% auto auto 200px;
  transition: all ease 1s;
}




#contactContainer {
  margin: 225px auto auto 100px;
  position: absolute;
  display: flex;
}

#linksContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 1300px;
  height: 800px;
  margin-top: 120px;
  margin-left: 900px;
}

.contact {
  width: 90px;
  height: 90px;;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 0px 10px black;
}

#email {
  align-self: end;
}

.links {
  width: 400px;
  height: 100px;
  color: white;
  transition: 0.5s ease all;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  text-shadow: 0px 0px 2px yellow;
}

#github {
  background-image: url("./imgs/githubbackground.jpg");
  margin-top: 50px;
  align-self: center;
  width: 400px;
}

#instagram {
  background-image: url("./imgs/instagrambackground.jpg");
  margin-top: 10%;
}

#soundcloud {
  background-image: url("./imgs/soundcloudbackground.jpg");
  align-self: end;
  margin-bottom: 50px;
}

.links:hover {
  transform: translateY(-10px);
  box-shadow: 15px 15px 10px rgb(0, 0, 0);
  cursor: pointer;
}

#name {
  position: absolute;
  margin: 720px auto auto 500px;
  font-size: 100px;
  font-family: Montserrat;
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 15px rgb(0, 25, 94);
}

.absolute {
  position: absolute;
  color: yellow;
  font-size: 25px;
  opacity: 0%;
  text-shadow: 0px 0px 2px white;

  transition: ease all 0.4s;
}

#github2 {
  margin-top: 420px;
  margin-left: 800px;
}

#instagram2 {
  margin-top: 380px;
  margin-left: 1700px;
}

#soundcloud2 {
  margin-top: 920px;
  margin-left: 1600px;
}
